@charset "UTF-8";

body {
    background-color: rgb(146, 192, 192);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1#principal {
    text-align: center;
    background-color: rgb(28, 93, 95);
    color: white;
}

h2 {
color: rgb(0, 255, 255);
}

.basico {
   color: rgb(28, 133, 133);
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.intermediario {
    color: rgb(176, 171, 30);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.avançado {
     color: rgb(190, 41, 41);
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

p {
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.destaque {
    background-color: rgba(29, 29, 29, 0.281);
}